.wrap {
  background-color: var(--bg);
  min-height: 100vh;
  --bg: #ffd500;
  --shell: #fff;
  --shell-outline: #666;
  ---specs-frame: black;
  --size: 50;
  /* vminはビューポートの幅と高さのうち値が小さい方に対する割合 */
  /* 1vminは値が小さい方の0.01倍になる */
  --unit: calc((var(--size) / 769) * 1vmin);
}

.img {
  opacity: 0.5;
}

.egg {
  background-color: hsla(0, 100%, 50%, 0.2);
}

.img,
.egg {
  /* 元の画像の高さと幅をビューポート分、掛けることでレスポンシブにしている */
  height: calc(769 * var(--unit));
  width: calc(742 * var(--unit));
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.shell {
  background-color: hsla(180, 100%, 50%, 0.2);
  /* 実際に画面を見て微調整している */
  height: 95%;
  width: 74%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.shell__piece--top {
  opacity: 0.5;
  height: 108%;
  width: 106%;
  /* 4角の丸みの半径を指定する際にスラッシュを指定すると水平方向 / 垂直方向になる */
  /* また4つ指定した場合は左上・右上・右下・左下の順に指定される */
  /* この場合、右上の水平方向の半径が50%, 垂直方向が85%になる */
  border-radius: 50% 50% 0 0 / 85% 85% 0 0;
  top: 0;
  clip-path: inset(0 0 70% 0);
}

.shell__piece--middle {
  opacity: 0.5;
  height: 100%;
  width: 98%;
  border-radius: 50% 50% 0 0 / 85% 85% 0 0;
  /* clip-pathを使うと、このクラスがあたっている要素の表示する領域を指定することができる */
  /* insetは内部の長方形を定義する */
  /* 4つの場合、上、右、下、左を指定する */
  clip-path: inset(32% 0 40% 0);
}

.shell__piece--bottom {
  opacity: 0.5;
  border-radius: 50% / 62% 62% 38% 38%;
  width: 100%;
  height: 100%;
  bottom: 0;
  clip-path: inset(58% 0 0 0);
}

.shell__piece {
  background-color: var(--shell);
  position: absolute;
  border: calc(26 * var(--unit)) solid var(--shell-outline);
  transform: translate(-50%, 0);
  left: 50%;
}

.specs {
  background-color: hsla(180, 100%, 50%, 0.2);
  height: 30.5%;
  width: 95%;
  position: absolute;
  left: 50%;
  top: 30.5%;
  transform: translate(-50%, 0);
}

.specs__lens {
  opacity: 0.25;
  border: calc(44 * var(--unit)) solid var(---specs-frame);
  width: 46%;
  height: 94%;
  position: absolute;
  top: 3%;
  transform: rotate(-10deg);
  border-radius: 20% 44% 27% 33% / 26% 29% 45% 30%;
}

.specs__lens--right {
  right: 0;
  /* rotateYは要素を垂直軸を中心に回転させる */
  transform: rotate(10deg) rotateY(180deg);
}
