:root {
  --size: 50;
  --unit: calc((var(--size) / 374) * 1vmin);
}

.wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.img {
  height: 50vmin;
  left: 50%;
  opacity: 0.25;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
}

.poroWrap {
  height: calc(374 * var(--unit));
  position: relative;
  width: calc(374 * var(--unit));
  z-index: 2;
}

.poroWrap *,
.poroWrap *:after,
.poroWrap *:before,
.poroWrap:after,
.poroWrap:before {
  box-sizing: border-box;
  position: absolute;
}

.poro1 {
  top: 15%;
  left: 20%;
  width: 30%;
  height: 30%;
  /* background-color: chocolate; */
  background-color: springgreen;
  opacity: 0.2;
  clip-path: ellipse(33% 52% at 55% 56%);
  transform: rotate(316deg);
}

.poro2 {
  top: 15%;
  left: 20%;
  width: 30%;
  height: 30%;
  /* background-color: chocolate; */
  background-color: tomato;
  opacity: 0.2;
  clip-path: ellipse(20% 11% at 58% 17%);
  transform: rotate(283deg);
}
